* {
    box-sizing: border-box;
}

@font-face {
    font-family: InterApp;
    src: url("./inter.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: InterApp, sans-serif;
    overflow: hidden;
}
